@import 'static/css/color';

.card {
    background-color: white;
    color: $text-color-black;
    border-radius: 8px;
    padding: 2em;
    box-shadow: $nord4 0px 6px 9px 0px;
    margin: 16px;

    ul {
        list-style-position: inside;
    }
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

h1,
h2 {
    text-align: center;
}