.list {
  display: flex;
  flex-wrap: wrap;
}

.sort-and-filt {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

.sort-and-filt * {
  padding: 8px;
}

.add-link {
  background-color: #bf616a;
  padding: 4px 8px;
  border-radius: 8px;
  color: #eceff4;
  cursor: pointer;
}

.game-card {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.game-card p {
  margin: 4px;
}

.game-card__inner {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.game-card__inner div {
  padding: 0 8px;
}

@media only screen and (max-width: 1000px) {
  .panel {
    flex: 100%;
  }
  .list__inner {
    flex: 100%;
  }
}

@media only screen and (min-width: 948px) {
  .panel {
    flex: 10%;
  }
  .list__inner {
    flex: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: flex-start;
  }
}

.list__inner > .card {
  height: 152px;
}

.category-page {
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
}

.category-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change__inner {
  display: grid;
}

.change-card {
  display: flex;
  flex-wrap: wrap;
}

.change-card * {
  margin: 4px;
  flex: 100%;
}

.change-card p {
  display: flex;
  flex-wrap: wrap;
}

.change-card p > * {
  flex: 100%;
}

.change-card > * > * {
  margin: 4px 0;
}

.change-card ul {
  padding: 0px;
}

@media only screen and (max-width: 576px) {
  .change__inner {
    grid-template-columns: auto;
    justify-content: stretch;
  }
}

@media only screen and (min-width: 576px) {
  .change__inner {
    grid-template-columns: 512px;
    justify-content: center;
  }
}
