@import 'static/css/color';

.list {
    display: flex;
    flex-wrap: wrap;
}

.sort-and-filt {
    display: grid;
    grid-template-columns: auto;
    align-items: center;

    * {
        padding: 8px;
    }
}



.add-link {
    background-color: $nord11;
    padding: 4px 8px;
    border-radius: 8px;
    color: $text-color-white;
    cursor: pointer;
}

.game-card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    p {
        margin: 4px;
    }
}

.game-card__inner {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;

    div {
        padding: 0 8px;
    }
}

@media only screen and (max-width: 1000px) {
    .panel {
        flex: 100%;
    }

    .list__inner {
        flex: 100%;
    }
}

@media only screen and (min-width: 948px) {
    .panel {
        flex: 10%;
    }

    .list__inner {
        flex: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: stretch;
        align-items: flex-start;
    }
}

.list__inner>.card {
    height: 152px;
}

.category-page {
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.category-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change__inner {
    display: grid;
}

.change-card {
    display: flex;
    flex-wrap: wrap;

    * {
        margin: 4px;
        flex: 100%;
    }

    p {
        display: flex;
        flex-wrap: wrap;

        >* {
            flex: 100%;
        }
    }

    >* {
        >* {
            margin: 4px 0;
        }
    }

    ul {
        padding: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .change__inner {
        grid-template-columns: auto;
        justify-content: stretch;
    }
}

@media only screen and (min-width: 576px) {
    .change__inner {
        grid-template-columns: 512px;
        justify-content: center;
    }
}

// .category-nav {
//     border-radius: 8px;
//     display: flex;
//     justify-content: center;
//     background-color: $background;
//     box-shadow: $nord4 0px 6px 9px 0px;
//     margin: 16px;

//     a {
//         text-decoration: none;
//         color: $text-color-white;
//         padding: 8px;
//         display: block;

//         &:hover {
//             text-decoration: underline;
//             color: $nord8;
//         }
//     }
// }

// .category-content {
//     display: grid;
//     grid-template-columns: auto;
// }


// .settings {
//     background-color: white;
//     color: $text-color-black;
//     border-radius: 8px;
//     padding: 2em;
//     box-shadow: $nord4 0px 6px 9px 0px;
//     margin: 16px;

//     ul {
//         list-style-position: inside;
//     }
// }

// table {
//     // display: block;
//     // width: 100%;
//     // overflow-x: auto;
//     text-align: center;
//     margin: 16px;
//     border-spacing: 0px;
//     border-radius: 10px;
//     box-shadow: $nord4 0px 6px 9px 0px;

//     a {
//         color: $text-color-black;

//         &:hover {
//             color: $nord8;
//         }
//     }

// }

// table tr:last-child td:first-child {
//     border-bottom-left-radius: 10px;
// }

// table tr:last-child td:last-child {
//     border-bottom-right-radius: 10px;
// }

// table tr:first-child th:first-child {
//     border-top-left-radius: 10px;
// }

// table tr:first-child th:last-child {
//     border-top-right-radius: 10px;
// }

// th {
//     background-color: $background;
//     color: $text-color-white;
//     padding: 8px;
// }

// td {
//     background-color: white;
//     padding: 8px;
// }

// th,
// tr,
// td {
//     border: 1px solid $background;
// }

// .action {
//     * {
//         text-align: center;
//         width: 128px+32px;
//         display: block;
//     }
// }

// .sort-and-filt {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     * {
//         margin: 0 4px;
//     }
// }

// .button-container {
//     display: flex;
//     justify-content: end;
// }

// button {
//     margin: 16px;
// }

// .create,
// .update {
//     background-color: white;
//     border-radius: 8px;
//     box-shadow: $nord4 0px 6px 9px 0px;
//     color: $text-color-black;
//     display: grid;
//     grid-template-columns: auto;
//     justify-content: center;
//     margin: 16px;
//     padding: 2em;

//     .form-links {
//         display: flex;
//         justify-content: space-between;
//     }

//     a {
//         color: $text-color-black;
//         margin: 0px 4px;

//         &:hover {
//             color: $nord8;
//         }
//     }

//     p {
//         display: flex;
//         flex-wrap: wrap;

//         >* {
//             flex-basis: 100%;
//         }
//     }

//     >* {
//         >* {
//             margin: 8px 0;
//         }
//     }

//     >button {
//         margin: 8px 0;
//     }
// }


// .form-container {
//     display: grid;
//     grid-template-columns: auto;
//     justify-content: center;
// }