{% extends 'base.html' %}

{% block title %}Home · Game list{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'stats/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome to Game List</h1>
    <p>Game list is a website that allows users to create and manage their own game lists. You can also view the
        statistics of your games lists Game general statistics of all users.</p>
</div>
<div class="card-container">
    <div class="card">
        <h2>Global Stats</h2>
        <ul>
            {% for elemnt in global_stats %}
            <li>Total {{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h2>Game by Platform</h2>
        <ul>
            {% for elemnt in platforms %}
            <li>{{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h2>Games by Series</h2>
        <ul>
            {% for elemnt in series %}
            <li>{{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h2>Game by Developers</h2>
        <ul>
            {% for elemnt in developers %}
            <li>{{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h2>Game by Year</h2>
        <ul>
            {% for elemnt in years %}
                <li>{{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h2>Game by Countries</h2>
        <ul>
            {% for elemnt in countries %}
            <li>{{elemnt.0}}: {{elemnt.1}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}