html {
    font-size: 62.5%;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

@media only screen and (max-width: 576px) {}

@media only screen and (min-width: 576px) {
    main {
        margin-top: 64px;
    }
}