@import 'color';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Roboto Regular";
    src: url("/static/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P Regular";
    src: url("/static/fonts/PressStart2P/PressStart2P-Regular.ttf");
}

// div.wrapper-container {
//     overflow-x: hidden !important;
// }

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 64px 1fr 64px;
    grid-template-columns: 100%;
}

%hmf-tag {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header,
footer {
    @extend %hmf-tag;
    background-color: $background;
    box-shadow: $nord4 0px 6px 9px 0px;
}

main {
    @extend %hmf-tag;
    background-color: $main-background;
}

%hf-class {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P Regular';
    justify-content: space-between;
}

.header {
    @extend %hf-class;
    grid-area: h;
}

.main {
    grid-area: c;
    font-family: 'Rubik';
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
    margin: 16px;
}

.footer {
    @extend %hf-class;
    grid-area: f;
}

nav {
    display: flex;
    align-items: center;

    .nav-username {
        color: $nord11;
    }

    .nav-profile {
        color: $nord14;
    }

    a {
        text-decoration: none;
        margin: 8px;
        color: $text-color-white;

        &:hover {
            text-decoration: underline;
            color: $nord8;
        }
    }

    span {
        text-decoration: none;
        color: $text-color-white;
        margin: 8px;
        transition: color 1s;
    }
}

@media only screen and (max-width: 576px) {
    header {
        grid-template-areas: "h h h h h h h h h h h h";
    }

    main {
        grid-template-areas: "c c c c c c c c c c c c";
    }

    footer {
        grid-template-areas: "f f f f f f f f f f f f";
    }
}

@media only screen and (min-width: 576px) {
    header {
        grid-template-areas: "h h h h h h h h h h h h";
    }

    main {
        grid-template-areas: "c c c c c c c c c c c c";
    }

    footer {
        grid-template-areas: "f f f f f f f f f f f f";
    }
}

@media only screen and (min-width: 768px) {
    header {
        grid-template-areas: "h h h h h h h h h h h h";
    }

    main {
        grid-template-areas: "c c c c c c c c c c c c";
    }

    footer {
        grid-template-areas: "f f f f f f f f f f f f";
    }
}

@media only screen and (min-width: 992px) {
    header {
        grid-template-areas: ". h h h h h h h h h h .";
    }

    main {
        grid-template-areas: ". c c c c c c c c c c .";
    }

    footer {
        grid-template-areas: ". f f f f f f f f f f .";
    }
}

@media only screen and (min-width: 1200px) {
    header {
        grid-template-areas: ". . h h h h h h h h . .";
    }

    main {
        grid-template-areas: ". . c c c c c c c c . .";
    }

    footer {
        grid-template-areas: ". . f f f f f f f f . .";
    }
}

button {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:hover {
        background-color: $nord7;
        color: $nord2;
        transition: all 0.25s;
    }
}

input {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:focus {
        border-color: $nord7;
        transition: all 0.25s;
    }
}

select {
    padding: 8px;
    background-color: $nord2;
    color: $text-color-white;
    box-shadow: $nord4 0px 6px 9px 0px;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
ul {
    color: $text-color-black;

}