@import 'color';

@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600;800&family=Roboto&display=swap');


// Old share
* {
    font-family: "Roboto";
    font-size: 1.4rem;
}

button {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:hover {
        background-color: $nord7;
        color: $nord2;
        transition: all 0.25s;
    }
}

input {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:focus {
        border-color: $nord7;
        transition: all 0.25s;
    }
}

select {
    padding: 8px;
    background-color: $nord2;
    color: $text-color-white;
    box-shadow: $nord4 0px 6px 9px 0px;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
ul {
    color: $text-color-black;

}