@import 'color';

@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600;800&family=Roboto&display=swap');


button {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:hover {
        background-color: $nord7;
        color: $nord2;
        transition: all 0.25s;
    }
}

input {
    background-color: $nord2;
    border-color: $nord0;
    border-radius: 4px;
    border-width: 2px;
    color: $text-color-white;
    padding: 4px;
    transition: all 0.25s;
    box-shadow: $nord4 0px 6px 9px 0px;

    &:focus {
        border-color: $nord7;
        transition: all 0.25s;
    }
}

select {
    padding: 8px;
    background-color: $nord2;
    color: $text-color-white;
    box-shadow: $nord4 0px 6px 9px 0px;
    text-align: center;
}

// static and profile
* {
    color: $text-color-black;
}

.card {
    background-color: white;
    color: $text-color-black;
    border-radius: 8px;
    padding: 2em;
    margin: 8px;
    padding: 16px;
    box-shadow: $nord4 0px 6px 9px 0px;

    ul {
        list-style-position: inside;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 4px;
}

@media only screen and (max-width: 576px) {
    .card {
        flex: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .card {
        flex: 25%;
    }
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category__link {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 1.6rem;
    padding: 8px;
    transition: color 0.25s;
    text-decoration: none;

    &:hover {
        color: #88c0d0;
        text-decoration: underline;
    }
}

.category__text {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 1.6rem;
    padding: 8px;
}

.link-button {
    transition: color 0.25s;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #88c0d0;
        text-decoration: underline;
    }
}

// Lists and Games

.list {
    display: flex;
    flex-wrap: wrap;
}

.sort-and-filt {
    display: grid;
    grid-template-columns: auto;
    align-items: center;

    * {
        padding: 8px;
    }
}



.add-link {
    background-color: $nord11;
    padding: 4px 8px;
    border-radius: 8px;
    color: $text-color-white;
    cursor: pointer;
}

.game-card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    p {
        margin: 4px;
    }
}

.game-card__inner {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;

    div {
        padding: 0 8px;
    }
}

@media only screen and (max-width: 1000px) {
    .panel {
        flex: 100%;
    }

    .list__inner {
        flex: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .panel {
        flex: 10%;
    }

    .list__inner {
        flex: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: stretch;
        align-items: stretch;
    }
}

.category-page {
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.category-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change__inner {
    display: grid;
}

.change-card {
    display: flex;
    flex-wrap: wrap;

    * {
        margin: 4px;
        flex: 100%;
    }

    p {
        display: flex;
        flex-wrap: wrap;

        >* {
            flex: 100%;
        }
    }

    >* {
        >* {
            margin: 4px 0;
        }
    }

    ul {
        padding: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .change__inner {
        grid-template-columns: auto;
        justify-content: stretch;
    }
}

@media only screen and (min-width: 576px) {
    .change__inner {
        grid-template-columns: 512px;
        justify-content: center;
    }
}