@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Roboto Regular";
  src: url("/static/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Press Start 2P Regular";
  src: url("/static/fonts/PressStart2P/PressStart2P-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 64px 1fr 64px;
  grid-template-columns: 100%;
}

main, header,
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header,
footer {
  background-color: #3b4252;
  box-shadow: #d8dee9 0px 6px 9px 0px;
}

main {
  background-color: #eceff4;
}

.footer, .header {
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P Regular';
  justify-content: space-between;
}

.header {
  grid-area: h;
}

.main {
  grid-area: c;
  font-family: 'Rubik';
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
  margin: 16px;
}

.footer {
  grid-area: f;
}

nav {
  display: flex;
  align-items: center;
}

nav .nav-username {
  color: #bf616a;
}

nav .nav-profile {
  color: #a3be8c;
}

nav a {
  text-decoration: none;
  margin: 8px;
  color: #d8dee9;
}

nav a:hover {
  text-decoration: underline;
  color: #88c0d0;
}

nav span {
  text-decoration: none;
  color: #d8dee9;
  margin: 8px;
  transition: color 1s;
}

@media only screen and (max-width: 576px) {
  header {
    grid-template-areas: "h h h h h h h h h h h h";
  }
  main {
    grid-template-areas: "c c c c c c c c c c c c";
  }
  footer {
    grid-template-areas: "f f f f f f f f f f f f";
  }
}

@media only screen and (min-width: 576px) {
  header {
    grid-template-areas: "h h h h h h h h h h h h";
  }
  main {
    grid-template-areas: "c c c c c c c c c c c c";
  }
  footer {
    grid-template-areas: "f f f f f f f f f f f f";
  }
}

@media only screen and (min-width: 768px) {
  header {
    grid-template-areas: "h h h h h h h h h h h h";
  }
  main {
    grid-template-areas: "c c c c c c c c c c c c";
  }
  footer {
    grid-template-areas: "f f f f f f f f f f f f";
  }
}

@media only screen and (min-width: 992px) {
  header {
    grid-template-areas: ". h h h h h h h h h h .";
  }
  main {
    grid-template-areas: ". c c c c c c c c c c .";
  }
  footer {
    grid-template-areas: ". f f f f f f f f f f .";
  }
}

@media only screen and (min-width: 1200px) {
  header {
    grid-template-areas: ". . h h h h h h h h . .";
  }
  main {
    grid-template-areas: ". . c c c c c c c c . .";
  }
  footer {
    grid-template-areas: ". . f f f f f f f f . .";
  }
}

button {
  background-color: #434c5e;
  border-color: #2e3440;
  border-radius: 4px;
  border-width: 2px;
  color: #d8dee9;
  padding: 4px;
  transition: all 0.25s;
  box-shadow: #d8dee9 0px 6px 9px 0px;
}

button:hover {
  background-color: #8fbcbb;
  color: #434c5e;
  transition: all 0.25s;
}

input {
  background-color: #434c5e;
  border-color: #2e3440;
  border-radius: 4px;
  border-width: 2px;
  color: #d8dee9;
  padding: 4px;
  transition: all 0.25s;
  box-shadow: #d8dee9 0px 6px 9px 0px;
}

input:focus {
  border-color: #8fbcbb;
  transition: all 0.25s;
}

select {
  padding: 8px;
  background-color: #434c5e;
  color: #d8dee9;
  box-shadow: #d8dee9 0px 6px 9px 0px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
ul {
  color: #4c566a;
}

.category-nav {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: #3b4252;
  box-shadow: #d8dee9 0px 6px 9px 0px;
  margin: 16px;
}

.category-nav a {
  text-decoration: none;
  color: #d8dee9;
  padding: 8px;
  display: block;
}

.category-nav a:hover {
  text-decoration: underline;
  color: #88c0d0;
}

.category-content {
  display: grid;
  grid-template-columns: auto;
}

.settings {
  background-color: white;
  color: #4c566a;
  border-radius: 8px;
  padding: 2em;
  box-shadow: #d8dee9 0px 6px 9px 0px;
  margin: 16px;
}

.settings ul {
  list-style-position: inside;
}

table {
  text-align: center;
  margin: 16px;
  border-spacing: 0px;
  border-radius: 10px;
  box-shadow: #d8dee9 0px 6px 9px 0px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

th {
  background-color: #3b4252;
  color: #d8dee9;
  padding: 8px;
}

td {
  background-color: white;
  padding: 8px;
}

th,
tr,
td {
  border: 1px solid #3b4252;
}

.action * {
  text-align: center;
  width: 160px;
  display: block;
}

.sort-and-filt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sort-and-filt * {
  margin: 0 4px;
}

.button-container {
  display: flex;
  justify-content: end;
}

button {
  margin: 16px;
}

.card {
  background-color: white;
  color: #4c566a;
  border-radius: 8px;
  padding: 2em;
  box-shadow: #d8dee9 0px 6px 9px 0px;
  margin: 16px;
}

.card ul {
  list-style-position: inside;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1,
h2 {
  text-align: center;
}

.sign-up,
.login {
  background-color: white;
  border-radius: 8px;
  box-shadow: #d8dee9 0px 6px 9px 0px;
  color: #4c566a;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: 16px;
  padding: 2em;
}

.sign-up p,
.login p {
  display: flex;
  flex-wrap: wrap;
}

.sign-up p > *,
.login p > * {
  flex-basis: 100%;
}

.sign-up > * > *,
.login > * > * {
  margin: 8px 0;
}

.sign-up > button,
.login > button {
  margin: 8px 0;
}

.registration-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
