{% extends 'base.html' %}

{% block title %}Games · Game list{% endblock %}

{% block content %}

<div class="category-nav">
    <a href="{% url 'games' 'Game' %}">Games</a>
    <a href="{% url 'games' 'Platform' %}">Platforms</a>
    <a href="{% url 'games' 'Series' %}">Series</a>
    <a href="{% url 'games' 'Developer' %}">Developers</a>
    <a href="{% url 'games' 'Country' %}">Countries</a>
</div>
<div class="category-content">
    <div class="settings">
        <h2>Sorting and Filtration</h2>
        {% if category == 'Game' %}
        <form class="sort-and-filt">
            <div class="action">
                <label for="sort">{{form.sort.label}}</label>
                {{form.sort}}
            </div>
            <div class="action">
                <label for="platform">{{form.platform.label}}</label>
                {{form.platform}}
            </div>
            <div class="action">
                <label for="series">{{form.series.label}}</label>
                {{form.series}}
            </div>
            <div class="action">
                <label for="release">{{form.developer.label}}</label>
                {{form.developer}}
            </div>
            <div class="action">
                <label for="release">{{form.country.label}}</label>
                {{form.country}}
            </div>
            <div class="action">
                <label for="release">{{form.release.label}}</label>
                {{form.release}}
            </div>
        </form>
        {% endif %}
        {% if category == 'Platform' %}
        <form class="sort-and-filt">
            <div class="action">
                <label for="sort">{{form.sort.label}}</label>
                {{form.sort}}
            </div>
        </form>
        {% endif %}
        {% if category == 'Series' %}
        <form class="sort-and-filt">
            <div class="action">
                <label for="sort">{{form.sort.label}}</label>
                {{form.sort}}
            </div>
        </form>
        {% endif %}
        {% if category == 'Developer' %}
        <form class="sort-and-filt">
            <div class="action">
                <label for="sort">{{form.sort.label}}</label>
                {{form.sort}}
            </div>
            <div class="action">
                <label for="release">{{form.country.label}}</label>
                {{form.country}}
            </div>
        </form>
        {% endif %}
        {% if category == 'Country' %}
        <form class="sort-and-filt">
            <div class="action">
                <label for="sort">{{form.sort.label}}</label>
                {{form.sort}}
            </div>
        </form>
        {% endif %}
    </div>
    <table>
        <tr class="table-header">
            {% for key in keys %}
            <th>{{key|safe}}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for element in row %}
            <td>{{element|escape}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated %}
    <div class="button-container">
        <a href="{% url 'create' category %}"><button>Add {{category}}</button></a>
    </div>
    {% endif %}
</div>
{% endblock %}