<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" />
    {% block styles %}{% endblock %}
</head>

<body>
    {% include "header.html" %}
    <main>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include "footer.html" %}
</body>

</html>