<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" />
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        {% include "header.html" %}
        <main class="content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include "footer.html" %}
    </div>
</body>

</html>