<footer>
    <div class="footer">
        <nav class="nav">
            {% load static %}
            <a href="https://t.me/IceArrow256" class="nav-a"><img height="48" src="https://telegram.org/img/website_icon.svg" alt=""></a>
            <a href="https://t.me/IceArrow256" class="nav-a">Telegram</a>
        </nav>
        <nav class="nav">
            {% load static %}
            <a href="https://github.com/IceArrow256/game-list" class="nav-a">Gamelist</a>
            <span class="nav-span">by</span>
            <a href="https://github.com/IceArrow256" class="nav-a">IceArrow256</a>
        </nav>
    </div>
</footer>