<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <nav class="nav">
                {% load static %}
                <a class="nav__link" href="https://t.me/IceArrow256"><img height="32" src="https://telegram.org/img/website_icon.svg" alt=""></a>
                <a class="nav__link" href="https://t.me/IceArrow256">Telegram</a>
            </nav>
            <nav class="nav">
                {% load static %}
                <a class="nav__link" href="https://github.com/IceArrow256/game-list">Gamelist</a>
                <span class="nav_span">by</span>
                <a class="nav__link" href="https://github.com/IceArrow256">IceArrow256</a>
            </nav>
        </div>
    </div>
</footer>