<footer>
    <div class="footer">
        <nav class>
            {% load static %}
            <a href="https://t.me/IceArrow256"><img height="46" src="https://telegram.org/img/website_icon.svg" alt=""></a>
            <a href="https://t.me/IceArrow256">Telegram</a>
        </nav>
        <nav class>
            {% load static %}
            <a href="https://github.com/IceArrow256/game-list">Gamelist</a>
            <span>by</span>
            <a href="https://github.com/IceArrow256" class="nav-username">IceArrow256</a>
        </nav>
    </div>
</footer>