<header class="header">
    <div class="container">
        <div class="header__inner">
            {% load static %}
            <a class="header__inner__link mobile-logo" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" height="48px" alt="Site logo"></a>
            <nav class="nav">
                <a class="nav__link desktop-logo" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" height="48px" alt="Site logo"></a>
                <a class="nav__link" href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated %}
                <a class="nav__link" href="{% url 'lists' %}">Lists</a>
                {% endif %}
                <a class="nav__link" href="{% url 'games' %}">Browse</a>
            </nav>

            <nav class="nav">
                {% if user.is_authenticated %}
                <a class="nav__link" href=" {% url 'logout' %}">Logout</a>
                <a class="nav__link" href="{% url 'profile' %}">{{user.username}}</a>
                {% else %}
                <a class="nav__link" href="{% url 'login' %}">Login</a>
                <a class="nav__link" href="{% url 'sign-up' %}">Sign up</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>