.login,
.sign-up {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.sign-up p,
.login p {
    display: flex;
    flex-wrap: wrap;
}

.sign-up p>*,
.login p>* {
    flex-basis: 100%;
}

.sign-up>*>*,
.login>*>*,
.sign-up>button,
.login>button {
    margin: 8px 0;
}