{% extends 'base.html' %}

{% block title %}Lists · Game list{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'lists/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>{{category}}</h1>
    <div class="category-nav">
        <a class="category__link" href=" {% url 'lists' 'All' %}">All</a>
        <a class='category__link' href="{% url 'lists' 'Inbox' %}">Inbox</a>
        <a class='category__link' href="{% url 'lists' 'Completed' %}">Completed</a>
        <a class='category__link' href="{% url 'lists' 'Planning' %}">Planning</a>
        <a class='category__link' href="{% url 'lists' 'Paused' %}">Paused</a>
        <a class='category__link' href="{% url 'lists' 'Dropped' %}">Dropped</a>
    </div>
</div>
<div class="list">
    <div class="card panel">
        <h2>Sorting and Filtration</h2>
        <form class="sort-and-filt">
            <label for="sort">{{form.sort.label}}</label>
            {{form.sort}}
            <label for="platform">{{form.platform.label}}</label>
            {{form.platform}}
            <label for="series">{{form.series.label}}</label>
            {{form.series}}
            <label for="developer">{{form.developer.label}}</label>
            {{form.developer}}
            <label for="country">{{form.country.label}}</label>
            {{form.country}}
            {% if category == 'All' %}
            <label for="game_list_type">{{form.game_list_type.label}}</label>
            {{form.game_list_type}}
            {% endif %}
            <label for="release">{{form.release.label}}</label>
            {{form.release}}
            <label for="finished">{{form.finished.label}}</label>
            {{form.finished}}
        </form>
    </div>
    <div class="list__inner">
        {% for card in data %}
        <div class="card">
            <h2>{{card.Name}}</h2>
            <div class="game-card">
                <div class="game-card__inner">
                    <div>
                        <img class="game__img" src="https://via.placeholder.com/72x100.png" alt="" height="100px"
                            width="72">
                    </div>
                    <div>
                        {% for key,value in card.Data.items %}
                        {% if category != 'All' and key == 'List type' %}
                        {% else %}
                        <p><b>{{key}}:</b> {{value}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {% if card.Score %}
                    <p><b>Score:</b> {{card.Score}}</p>
                    {% endif %}
                    <p><a class="link-button" onclick="deleteFromList({{card.id}})">Delete from list</a></p>
                    <p><a class="link-button" onclick="window.open('{% url 'update' 'GameInList' card.id %}')">Edit</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="card">
    <div class="category-page">
        {% if data.has_previous %}
        <a class="page category__link" href="?page=1">&laquo; First</a>
        <a class="page category__link" href="?page={{ data.previous_page_number }}">Previous</a>
        {% else %}
        <div class="category__link hidden">&laquo; First</div>
        <div class="category__link hidden">Previous</div>
        {% endif %}
        <span class="category__text">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>
        {% if data.has_next %}
        <a class="page category__link" href="?page={{ data.next_page_number }}">Next </a>
        <a class="page category__link" href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
        {% else %}
        <a class="category__link hidden">Next</a>
        <a class="category__link hidden">Last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'lists/js/lists.js' %}"></script>
{% endblock scripts %}

<!-- <td><a href="{% url 'update-game-in-list' category value %}">Edit</a></td> -->
<!-- <td><a href="{% url 'delete' 'GameInList' value %}">Del</a></td> -->