{% extends 'app/base.html' %}

{% block title %}
Games
{% endblock %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
<h1>{{list}}</h1>
<div class="games">
    <div class="games-menu">
        <a href="{% url 'games' %}?list=game">Games</a>
        <a href="{% url 'games' %}?list=platform">Platforms</a>
        <a href="{% url 'games' %}?list=series">Series</a>
        <a href="{% url 'games' %}?list=developer">Developers</a>
        <a href="{% url 'games' %}?list=country">Countries</a>
    </div>
    <div class="games-list">
        {% if list == 'Game'%}
        <table border="1">
            <thead>
                <th>Game</th>
                <th>Date</th>
                <th>Platform</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Country</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for game in data %}
                <tr>
                    <td>{{game}}</td>
                    <td>{{game.release}}</td>
                    <td>{{game.platform}}</td>
                    <td>{{game.series}}</td>
                    <td>{{game.developer}}</td>
                    <td>{{game.developer.country}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Game'%}
        <table border="1">
            <thead>
                <th>Game</th>
                <th>Date</th>
                <th>Platform</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Country</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for game in data %}
                <tr>
                    <td>{{game}}</td>
                    <td>{{game.release}}</td>
                    <td>{{game.platform}}</td>
                    <td>{{game.series}}</td>
                    <td>{{game.developer}}</td>
                    <td>{{game.developer.country}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Game'%}
        <table border="1">
            <thead>
                <th>Game</th>
                <th>Date</th>
                <th>Platform</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Country</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for game in data %}
                <tr>
                    <td>{{game}}</td>
                    <td>{{game.release}}</td>
                    <td>{{game.platform}}</td>
                    <td>{{game.series}}</td>
                    <td>{{game.developer}}</td>
                    <td>{{game.developer.country}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Platform'%}
        <table border="1">
            <thead>
                <th>Platform</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for platform in data %}
                <tr>
                    <td>{{platform}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Platform'%}
        <table border="1">
            <thead>
                <th>Platform</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for platform in data %}
                <tr>
                    <td>{{platform}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Platform'%}
        <table border="1">
            <thead>
                <th>Platform</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for platform in data %}
                <tr>
                    <td>{{platform}}</td>
                    {% comment %} <a href="{% url 'edit-games' %}/game.id">Edit</a> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if list == 'Country'%}
        <table border="1">
            <thead>
                <th>Country</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for country in data %}
                <tr>
                    <td>{{country}}</td>
                    <td><a href="/edit-country/{{country.id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<a href="{% url 'add-country' %}">Add country</a>
<a href="{% url 'add-platform' %}">Add platform</a>
<a href="{% url 'add-series' %}">Add series</a>
<a href="{% url 'add-developer' %}">Add developer</a>
<a href="{% url 'add-game' %}">Add game</a>

{% endblock %}