{% extends 'app/base.html' %}

{% block title %}
Games
{% endblock %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
<h1>{{list}}</h1>
<div class="games">
    <div class="games-menu">
        <a href="{% url 'games' %}?list=game">Games</a>
        <a href="{% url 'games' %}?list=platform">Platforms</a>
        <a href="{% url 'games' %}?list=series">Series</a>
        <a href="{% url 'games' %}?list=developer">Developers</a>
        <a href="{% url 'games' %}?list=country">Countries</a>
    </div>
    <div class="games-list">
        {% if list == 'Game'%}
        <table border="1">
            <thead>
                <th>Game</th>
                <th>Date</th>
                <th>Platform</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Country</th>
                <th>Add to my gamelist</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for game in data %}
                <tr>
                    <td>{{game}}</td>
                    <td>{{game.release}}</td>
                    <td>{{game.platform}}</td>
                    <td>{{game.series}}</td>
                    <td>{{game.developer}}</td>
                    <td>{{game.developer.country}}</td>
                    <td><a href="{% url 'add-gamelist' game.id %}">+</a>
                    <td><a href="{% url 'edit-game' game.id %}">Edit</a>
                    <td><a href="{% url 'edit-game' game.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="{% url 'add-game' %}">Add game</a></div>
        {% endif %}
        {% if list == 'Platform'%}
        <table border="1">
            <thead>
                <th>Platform</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for platform in data %}
                <tr>
                    <td>{{platform}}</td>
                    <td><a href="{% url 'edit-platform' platform.id %}">Edit</a>
                    <td><a href="{% url 'edit-platform' platform.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="{% url 'add-platform' %}">Add platform</a></div>
        {% endif %}
        {% if list == 'Series'%}
        <table border="1">
            <thead>
                <th>Series</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for series in data %}
                <tr>
                    <td>{{series}}</td>
                    <td><a href="{% url 'edit-series' series.id %}">Edit</a>
                    <td><a href="{% url 'edit-series' series.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="{% url 'add-series' %}">Add series</a></div>
        {% endif %}
        {% if list == 'Developer'%}
        <table border="1">
            <thead>
                <th>Developer</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for developer in data %}
                <tr>
                    <td>{{developer}}</td>
                    <td>{{developer.country}}</td>
                    <td><a href="{% url 'edit-developer' developer.id %}">Edit</a>
                    <td><a href="{% url 'edit-developer' developer.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="{% url 'add-developer' %}">Add developer</a></div>
        {% endif %}
        {% if list == 'Country'%}
        <table border="1">
            <thead>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for country in data %}
                <tr>
                    <td>{{country}}</td>
                    <td><a href="{% url 'edit-country' country.id %}">Edit</a>
                    <td><a href="{% url 'edit-country' country.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="{% url 'add-country' %}">Add country</a></div>
        {% endif %}
    </div>
</div>
{% endblock %}