{% extends 'app/base.html' %}

{% block title %}
My games
{% endblock %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
<h1>My games: {{list}}</h1>
<div class="games">
    <div class="games-menu">
        <span>
            <nobr>{{username}}'s lists</nobr>
        </span>
        <a href="{% url 'my-games' %}?list=inbox">Inbox</a>
        <a href="{% url 'my-games' %}?list=completed">Completed</a>
        <a href="{% url 'my-games' %}?list=paused">Paused</a>
        <a href="{% url 'my-games' %}?list=dropped">Dropped</a>
        <a href="{% url 'my-games' %}?list=planning">Planning</a>
    </div>
    <div class="games-list">
        <table border="1">
            <thead>
                <th>Game</th>
                <th>Score</th>
                <th>Date</th>
                <th>Finished</th>
                <th>Platform</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{game.game}}</td>
                    <td>{{game.score}}</td>
                    <td>{{game.game.release}}</td>
                    <td>{{game.finished}}</td>
                    <td>{{game.game.platform}}</td>
                    <td>{{game.game.series}}</td>
                    <td>{{game.game.developer}}</td>
                    <td>{{game.game.developer.country}}</td>
                    <td><a href="{% url 'edit-gamelist' game.id %}">Edit</a>
                    <td><a href="{% url 'edit-gamelist' game.id %}?delete">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src=" {% static 'app/js/games.js' %}"></script>
{% endblock %}