{% extends 'app/base.html' %}

{% block title %}
My games
{% endblock %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
<div class="my-games">
    <div class="my-games-lists">
        <span>{{username}}'s lists</span>
        <a href="#" onclick="show_game_list('my-games-games-inbox')">Inbox</a>
        <a href="#" onclick="show_game_list('my-games-games-completed')">Completed</a>
        <a href="#" onclick="show_game_list('my-games-games-paused')">Paused</a>
        <a href="#" onclick="show_game_list('my-games-games-dropped')">Dropped</a>
        <a href="#" onclick="show_game_list('my-games-games-planning')">Planning</a>
    </div>
    <div class="my-games-games">
        <div id="my-games-games-inbox">
            <h1>Inbox</h1>
            <table border="1">
                <tbody>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="my-games-games-completed">
            <h1>Completed</h1>
            <table border="1">
                <tbody>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="my-games-games-paused">
            <h1>Paused</h1>
            <table border="1">
                <tbody>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="my-games-games-dropped">
            <h1>Dropped</h1>
            <table border="1">
                <tbody>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="my-games-games-planning">
            <h1>Planning</h1>
            <table border="1">
                <tbody>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                    <tr>
                        <td>Assassin’s Creed IV: Black Flag</td>
                        <td>7</td>
                        <td>2020-10-19</td>
                        <td>2013-10-29</td>
                        <td>PC</td>
                        <td>Assassin's Creed</td>
                        <td>Ubisoft Montreal</td>
                        <td>Canadian</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src=" {% static 'app/js/my-games.js' %}"></script>
{% endblock %}