@font-face {
    font-family: Roboto-Regular;
    src: url("/static/app/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P Regular";
    src: url("/static/app/fonts/PressStart2P/PressStart2P-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 64px 1fr 64px;
    grid-template-columns: 100%;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . h h h h h h h h . .";
    background-color: black;
}


.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P Regular';
}

.header a {
    padding: 8px;
    text-decoration: none;
}

.header img {
    padding: 8px;
    border-radius: 50%;
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-left img {
    padding: 8px;
}

.header-left a {
    color: white;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-right a {
    color: lightblue;
}

.active {
    text-decoration: underline !important;
    text-decoration-thickness: 2px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . c c c c c c c c . .";
}

.content {
    grid-area: c;
    margin: 16px;
    line-height: 1.5;
    font-family: Roboto-Regular;
    text-align: justify;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . f f f f f f f f . .";
    background-color: black;
}

.footer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    color: white;

}

.footer a {
    padding: 8px;
    color: lightblue;
}

.footer img {
    padding: 0 8px;
    border-radius: 50%;
}

.my-games {
    display: flex;
}

.my-games-lists {
    background-color: lightgrey;
}

.my-games-lists a {
    display: block;
    text-decoration: none;
    color: black;

}

.my-games-lists span {
    color: grey;
    display: block;
}

.my-games-games {}

#my-games-games-inbox {
    display: block;
}

#my-games-games-completed {
    display: none;
}

#my-games-games-paused {
    display: none;
}

#my-games-games-dropped {
    display: none;
}

#my-games-games-planning {
    display: none;
}

.error {
    color: red;
}

.login-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        ". . h . ."
        ". u u u ."
        ". p p p ."
        ". . . b .";
}

.login-form input {
    width: 100%;
    border: 0;
    outline: 1px solid black;
    margin: 8px;
}

.login-form-username {
    width: 100%;
    grid-area: u;
}

.login-form-password {
    width: 100%;
    grid-area: p;
}

.login-form button {
    justify-self: end;
    grid-area: b;
    margin: 8px;
}


.login-form h1 {
    grid-area: h;
    text-align: center;
}