@font-face {
    font-family: Roboto-Regular;
    src: url("/static/app/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P Regular";
    src: url("/static/app/fonts/PressStart2P/PressStart2P-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 64px 1fr 64px;
    grid-template-columns: 100%;
}

@media only screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h";
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: ". . h h h h h h h h . .";
        background-color: black;
    }
}



.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P Regular';
}

.header a {
    padding: 8px;
    text-decoration: none;
}

.header img {
    padding: 8px;
    border-radius: 50%;
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-left img {
    padding: 8px;
}

.header-left a {
    color: white;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-right a {
    color: lightblue;
}

.active {
    text-decoration: underline !important;
    text-decoration-thickness: 2px;
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "c c c c c c c c c c c c";
    }
}

@media only screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: ". . c c c c c c c c . .";
    }
}

.content {
    grid-area: c;
    margin: 16px;
    line-height: 1.5;
    font-family: Roboto-Regular;
    text-align: justify;
}

@media only screen and (min-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "f f f f f f f f f f f f";
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: ". . f f f f f f f f . .";
        background-color: black;
    }
}




.footer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    color: white;

}

.footer a {
    padding: 8px;
    color: lightblue;
}

.footer img {
    padding: 0 8px;
    border-radius: 50%;
}

.games {
    display: grid;
    grid-template-columns: min-content auto;
}

.games-menu a {
    display: block;
    text-decoration: none;
    color: black;

}

.mgames-menu span {
    color: grey;
    display: block;
}

.games-menu {
    margin: 0 16px 0 0;
}

.games-list table {
    text-align: center;
    width: 100%;
}

.games-list div {
    display: flex;
    justify-content: end;
}

.error {
    color: red;
}

.simple-form {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.simple-form h1 {
    margin: 8px;
}

.simple-form label,
.simple-form input,
.simple-form ul,
.simple-form span {
    margin: 4px;
    width: 400px;
    display: block;
}

.simple-form button {
    margin: 4px;
    display: block;
}

.simple-form-links {
    display: flex;
    justify-content: space-between;
}

.simple-form-links a {
    margin: 0 4px;
    display: block;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}